html{
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 20px;
}
a {
    color: aquamarine;
    font-size: 16px;
    display: block;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;
    text-align: center;
}
.subheader {
    font-weight: 300;
    font-size: 42px;
}
.copyright {
    text-align: right;
}
.image-1 {
    display: block;
    text-align: center;
}
.image-2 {
    display: block;
    text-align: center;
    padding-top: 20px;
}